/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans',sans-serif;
}

img {
    width: 100%;
}




/* COMMON */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.button {
    color: white;
    background-color: #0061ff;
    padding: 10px 20px;
    text-decoration: none;
}

.button:hover {
    background-color: #3c82f1;
}

.line-break {
    content: "";
    display: block;
}

.title-section {
    font-size: 50px;
}




/* CONTAINER */
/* Jumbotron, Footer */
.container-large {
    width: 80%;
    margin: auto;
}

/* all Sections */
.container {
    width: 65%;
    margin: auto;
}

/* Plan table */
.col-container {
    padding: 30px;
}

.classe-prova


/* BUTTON */
.button-spot {
    display: inline-block;
    padding: 10px 60px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.button-spot:hover {
    background-color: rgb(235, 235, 235);
}





/* LISTS */
ul {
    list-style-type: none;
}

.list ul li {
    display: inline-block;
    font-weight: bold;
}

.list ul li a {
    margin: 0 20px;
    text-decoration: none;
}

a {
    color: blue;
}

.a-black {
    color: black;
}

.a-black:hover {
    padding-bottom: 28px;
    border-bottom: 2px solid black;
}





/* -------------------------------HEADER-------------------------- */
header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}



/* ----------MENU LEFT---------- */
.col.menu-left {
    width: 50%;
}

.col.menu-left .logo {
    width: 12%;
    margin: 0 20px;
}

.col.logo img {
    vertical-align: middle;

    /* Per centrare verticalmente il logo */
    position: relative;
    bottom: 4px;
}



/* ----------MENU RIGHT---------- */
.col.menu-right {
    width: 50%;
}

.nav-right ul {
    text-align: right;
}
/* -------------------------------end HEADER---------------------------- */





/* ---------------------------------MAIN-------------------------------- */
main {
    margin-top: 80px;
}


/* ----------JUMBOTRON---------- */
.jumbotron {
    background-color: #b4d0e7;
}

.jumbotron-content {
    position: relative;
    top: 90px;
}


/* JUMBOTRON Area Text */
.jumbotron-content h1 {
    font-size: 85px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.col.text {
    width: 30%;
}

.col.text p {
    font-weight: bold;
    padding-bottom: 40px;
}

/* Classe da modificare */
.col.text .classe-prova {
    display: block;
    margin-top: 40px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.fa-arrow-down {
    font-size: 40px;
    padding-top: 50px;
}



/* JUMBOTRON Area Image */
.col.img {
    width: 70%;
}
/* end JUMBOTRON */






/* PLAN SECTION*/
.plan-content > h2 {
    margin-top: 200px;
    margin-bottom: 50px;
}

.choise-button {
    display: inline;
    padding-right: 40px;
}

.choise-col {
    margin-top: 30px;
}

.radio-button{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 3px;
}

.radio-blue{
    border: 4px solid #0061ff;
}

.radio-gray{
    border: 1px solid #e6e6e7;
}





/* COLUMN */
.col-plan {
    width: 30%;
    min-height: 1200px;
    border: 1px solid lightgrey;
}

.col-title {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.plan-title {
    font-size: 30px;
    padding-bottom: 25px;
}

.plan-price {
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}

.plan-month {
    color: gray;
    font-weight: bold;
}





/* Plan Features */
.plan-features {
    margin-top: 50px;
    font-size: 15px;
}

.plan-features span {
    padding-bottom: 100px;
}

.plan-features li {
    padding: 10px 10px 10px 20px;
}

.plan-features li i {
    margin-left: -20px;
}

.plan-features .button {
    margin: 30px 0;
}

.plan-try {
    padding-top: 50px;
}

.plan-try span {
    display: block;
    padding: 40px 0;
}





/* Plan Advantages */
.advantages h4 {
    padding-bottom: 10px;
}

.advantages li {
    line-height: 50px;
}

.fa-solid.fa-check {
    color: blue;
}





/* ----------------PLAN SECTION---------------- */
.col-plan.central {
    margin: 0 5%;
}

.col-plan-bottom {
    width: 100%;
    border: 1px solid lightgrey;
    margin-top: 80px;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;
}

.col-30 div {
    text-align: right;
    padding-top: 10px;
    padding-right: 30px;
}

.col-30 .button {
    padding: 8px 63px;
}

.line-div {
    width: 70px;
    border: 1px solid lightgrey;
}
/* ----------------end PLAN SECTION-------------- */






/* ----------------PARTNER SECTION--------------- */
#partner {
    padding-top: 120px;
    padding-bottom: 40px;
}

.col-partner {
    width: 50%;
}

.col-partner-text {
    padding: 70px;
}

.col-partner-text h2 {
    font-size: 30px;
}

.col-partner-text p {
    padding-top: 20px;
    padding-bottom: 60px;
}

.button-partner {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid black;
}

.button-partner:hover {
    background-color: rgb(235, 235, 235);
}
/* -------------end PARTNER SECTION-------------- */






/* --------------OPERATIONS SECTION--------------- */
#operations {
    padding: 70px 0;
}

.col-operations {
    width: 33%;
    padding: 30px;
}

.col-operations h2 {
    font-size: 25px;
}

.col-operations p {
    padding-top: 20px;
}
/* --------------end OPERATIONS SECTION------------ */






/* ---------------------TEAM SECTION-------------- */
#team {
    padding-top: 40px;
}

#team h2 {
    font-size: 50px;
    padding-bottom: 50px;
}

.col-team-title {
    width: 50%;
    padding-bottom: 70px;
}

.col-team-title a {
    font-weight: bold;
}



/* Column Logo Left-Right */
.col-logos {
    width: 400px;
    height: 400px;
}

.col-box {
    height: 200px;
    width: 200px;
    position: relative;
}

.col-box img {
    filter: invert(1);
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Column Logo Central */
.col-text {
    width: calc(100% - 800px);
    height: 400px;
    background-color: #f5f5f5;
}

.line-break.logos {
    width: 60px;
    border-bottom: 2px solid lightgrey;
}

.logos-text {
    padding: 50px;
    font-size: 15px;
    font-weight: 700;
}

.logos-text img {
    width: 10%;
    padding-bottom: 30px;
}

.logos-text p {
    padding: 50px 0;
}



/* Logos Left */
#designit {
    background-color: #d0e9cd;
}
#designit .bg-color {
    height: 180px;
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a2d39b;
}
#designit img {
    height: 45px;
}


#asu {
    background-color: #61082b;
}
#asu img {
    height: 80px;
}


#uf {
    background-color: #0093ce;
}
#uf img {
    height: 20px;
    width: 110px;
}


#topps {
    background-color: #ff1c1c;
}
#topps img {
    height: 45px;

}



/* Logos Right */
#wbr {
    background-color: #d5001f;
}
#wbr img {
    height: 45px;
}


#hearst {
    background-color: #b4d0e7;
}
#hearst img {
    height: 15px;
}


#lonely_planet {
    background-color: #0d2481;
}
#lonely_planet img {
    height: 55px;
}


#cco {
    background-color: #ffd830;
}
#cco img {
    height: 70px;
}
/* end Logos */
/* ------------------end TEAM SECTION-------------- */






/* ------------------SPOT SECTION------------------ */
#spot {
    padding: 150px 0;
    background-color: #b4d0e7;
}

#spot h2 {
    color: #61082b;
}

.col-spot-left {
    width: 50%;
}

.col-spot-right {
    width: 50%;
    text-align: right;    
}
/* ----------------end SPOT SECTION------------------ */






/* ------------------FAQ SECTION----------------------*/
#faq {
    padding: 120px 0;
}

#faq h2 {
    border-bottom: 1px solid #dcdcde;
    padding-bottom: 50px;
}

.faq-title {
    padding: 30px 0;
    border-bottom: 1px solid #dcdcde;
    position: relative;
}

.faq-arrow {
    position: absolute;
    top: 30px;
    right: 50px;
}
/* ---------------end FAQ SECTION---------------------*/

/* ------------------------------end MAIN-------------------------------- */








/* --------------------------------FOOTER-------------------------------- */
footer {
    background-color: black;
    color: white;
    height: 600px;
}

.footer-list {
    padding-top: 100px;
}

.col-footer {
    width: 20%;
    height: 400px;
    /* color: white; */
}

.col-footer ul {
    padding-top: 50px;
    line-height: 40px;
}

.col-footer ul a {
    text-decoration: none;
    color: white;
}

.line-break.footer {
    width: 120px;
    border-bottom: 1px solid #d6d6d8;
}

.language {
    padding-top: 50px;
    font-size: 14px;
    color: #999999;
}
/* -----------------------------end FOOTER-------------------------------- */