/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans',sans-serif;
}

img {
    width: 100%;
}




/* COMMON */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.button {
    color: white;
    background-color: #0061ff;
    padding: 10px 20px;
    text-decoration: none;
}

.button:hover {
    background-color: #3c82f1;
}




/* COMMON CONTAINER */
/* Jumbotron, Footer */
.container-large {
    width: 80%;
    margin: auto;
}

.container {
    width: 65%;
    margin: auto;
}

.col-container {
    width: 80%;
    margin: auto;
}


/* COMMON BUTTON */
.button-spot {
    display: inline-block;
    padding: 10px 60px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.button-spot:hover {
    background-color: rgb(235, 235, 235);
}





/* LISTS */
ul {
    list-style-type: none;

    /* text */
}

.list ul li {
    display: inline-block;
    font-weight: bold;
}

.list ul li a {
    margin: 0 20px;
    text-decoration: none;
}

a {
    color: blue;
}

.a-black {
    color: black;
}

.a-black:hover {
    padding-bottom: 28px;
    border-bottom: 2px solid black;
}





/* -------------------------------HEADER-------------------------- */
header {
    width: 100%;
    height: 80px;
    line-height: 80px;

    /* test */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}



/* ----------MENU LEFT---------- */
.col.menu-left {
    width: 50%;
}

.col.menu-left .logo {
    width: 12%;
    margin: 0 20px;
}

.col.logo img {
    vertical-align: middle;

    /* Per centrare verticalmente il logo */
    position: relative;
    bottom: 4px;
}




/* ----------MENU RIGHT---------- */
.col.menu-right {
    width: 50%;
}

.nav-right ul {
    text-align: right;
}
/* -------------------------------end HEADER---------------------------- */





/* ---------------------------------MAIN-------------------------------- */
main {
    margin-top: 80px;
}


/* ----------JUMBOTRON---------- */
.jumbotron {
    background-color: #b4d0e7;
}

.jumbotron-content {
    position: relative;
    top: 90px;
}


/* JUMBOTRON Area Text */
.jumbotron-content h1 {
    font-size: 85px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.col.text {
    width: 30%;
}

.col.text p {
    font-weight: bold;
    padding-bottom: 40px;
}

/* Classe da modificare */
.col.text .classe-prova {
    display: block;
    margin-top: 40px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.fa-arrow-down {
    font-size: 40px;
    padding-top: 50px;
}



/* JUMBOTRON Area Image */
.col.img {
    width: 70%;
}

.col.img img {
    width: 100%;
}




/* PLAN SECTION*/
.plan-content > h2 {
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 50px;
}

.choise {
    display: inline;
    padding-right: 40px;
}

.choise-col {
    margin-top: 30px;
}

.radio-button{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 3px;
}

.radio-blue{
    border: 4px solid #0061ff;
}

.radio-gray{
    border: 1px solid #e6e6e7;
}





/* COLUMN COMMON */
.col-plan {
    width: 30%;
    height: 1000px;
    border: 1px solid lightgrey;
}

.col-title {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.plan-title {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 25px;
}

.plan-price {
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}

.plan-month {
    color: gray;
    font-weight: bold;
}

.plan-features {
    margin-top: 50px;
    font-size: 15px;
}

.plan-features span {
    display: block;
    padding: 10px 0;
}

.plan-features .button {
    margin: 30px 0;
}

.info.col-container::after{
    content: "";
    display: block;
    width: 50px;
    border-bottom: 1px solid #d6d6d8;
}

.classeprova {
    padding-top: 50px;
    padding-bottom: 30px;
}

.classeprova span {
    display: block;
    padding-top: 40px;
}

.advantages {
    padding: 50px 0;
}

.advantages h4 {
    padding-bottom: 10px;
}

.advantages li {
    padding: 13px;
}

.fa-solid.fa-check {
    color: blue;
}





.col-plan.central {
    margin: 0 5%;
}

.col-plan-bottom {
    width: 100%;
    border: 1px solid lightgrey;
    margin-top: 80px;
}


.col-70 {
    width: 70%;
    padding-left: 30px;
}

.col-30 {
    width: 30%;
}

.col-30 div {
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
}







.col-partner {
    width: 50%;
}

.col-partner-text {
    padding: 80px;
}

#partner {
    margin-top: 70px;
}





/* TEAM SECTION */
#team {
    padding-top: 150px;
}

#team h2 {
    font-size: 50px;
    padding-bottom: 50px;
}

.col-team-title {
    width: 50%;
}




.col-logos {
    width: 400px;
    height: 400px;
}
  
.col-text {
    width: calc(100% - 800px);
    height: 400px;
}
  
.col-box {
    height: 200px;
    width: 200px;
}

/* Logos */
#asu {
    background-color: #61082b;
}

#uf {
    background-color: #0093ce;
}

#topps {
    background-color: #ff1c1c;
}












/* SPOT SECTION */
#spot {
    padding: 200px 0;
    background-color: #b4d0e7;
}

#spot h2 {
    color: #61082b;
    font-size: 50px;
}

.col-spot-left {
    width: 50%;
}

.col-spot-right {
    width: 50%;
    text-align: right;    
}





/* FAQ SECTION*/
#faq {
    padding: 120px 0;
}

#faq h2 {
    border-bottom: 1px solid #dcdcde;
    padding-bottom: 50px;
}

.faq-title {
    padding: 30px 0;
    border-bottom: 1px solid #dcdcde;
}

.faq-arrow {
    float: right;
    padding-right: 40px;
}







/* --------------------------------FOOTER-------------------------------- */
footer {
    background-color: black;
    color: white;
    height: 600px;
}

.footer-list {
    padding-top: 100px;
}

.col-footer {
    width: 20%;
    height: 400px;
    /* color: white; */
}

.col-footer ul {
    padding-top: 50px;
    line-height: 40px;
}

.col-footer ul a {
    text-decoration: none;
    color: white;
}

.line-break {
    content: "";
    display: block;
    width: 120px;
    border-bottom: 1px solid #d6d6d8;
}

.language {
    padding-top: 50px;
    font-size: 14px;
    color: #999999;
}
/* -----------------------------end FOOTER-------------------------------- */






/* display inline-block pulsanti */
/* completare alt immagini logo */